.daftar {
    width: 100%;
    display: flex;
    margin-top: 20px;

}
.design {
    width: 100%;
    height: 20%;
    background-color: #dedede;
}
.design img  {
    width: 40%;
    height: 100%;
}
h4 {
    margin-top: 20px;
}
.design.harga p {
    float: right;
    font-size: 50px;


}
.before {
    text-decoration: line-through;

    color: red;
}

.daftar.design_2 {
    background-color: white;
}
.design_2 img {
    width: 40%;
    height: 100%;
}